@page
@model ApprAttempt.Pages.Donors.DonateModel
@{
}

<br />

<h2>Donate below</h2>

@if (Model.errorMessage.Length > 0) {

    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type'button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
    </div>

}

<form method="post">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>

        <br />
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.clientInfo.name" placeholder="Enter name or Anonymous">
        </div>


        <label class="col-sm-3 col-form-label">Donation</label>
        <br />
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Donation" value="@Model.clientInfo.Donation" placeholder="what are you donating ?">
        </div>


        <br />
        <label class="col-sm-3 col-form-label">Disaster</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Disaster" value="@Model.clientInfo.Disaster" placeholder="what disaster are you donating to ?">
        </div>


        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class='alert alert-success alert-dismissible fade show' role='alert'></div>
                    <strong>@Model.successMessage</strong>
                    <button type'button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>

                </div>



            </div>
        }



        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary"> Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

            </div>


        </div>


    </div>



</form>